body { 
  background-color: #f0f0f0; 
  text-align: center; 
  font-family: Arial; 
  margin-top: 50px; 
}
button { 
  padding: 10px 20px; 
  font-size: 18px; 
  cursor: pointer; 
}
#text { 
  margin-top: 20px; 
  font-size: 24px; 
  color: #333; 
}
